.position {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 10;
}

.wrapper {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons button {
    border: none;
    width: 110px;
    height: 64px;
    background: none;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9D9D9D;
}

.activeButton button {
    border: none;
    border-bottom: #E4002B solid 5px;
    width: 110px;
    height: 64px;
    background: none;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #E4002B;
}